.habit-menu-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: center;
  .select-habit {
    border: none;
    width: 200px;
    height: 30px;
    background-color: white;
    float: center;
    border-radius: 5px;
  }
  .add-button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    span {
      font-size: 20px;
    }
    &:hover {
      color: black;
    }
  }
}

.add-habit-button {
  font-size: 3vh;
  position: relative;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: white;
  padding: 0.75em 1em;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

.other-habit-container {
  background-color: white;
  width: 40%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 1em;
  .select-habit {
    //all inputs should be aligned
    margin-block: 10px;
    .input-box {
      margin: 0 auto;
      float: right;
      border: 1px solid black;
      border-radius: 5px;
      width: 55%;
    }
  }
  .habit-submit {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}
